@use '../base' as *;

/* -------------------------------- 

File#: _1_smooth-scrolling
Title: Smooth Scrolling
Descr: Replace the default browser behaviour (jump) with a smooth scrolling transition
Usage: codyhouse.co/license

-------------------------------- */

.side-template-v3__main {
  scroll-padding: calc(var(--side-template-mobile-header-height) + var(--space-xxs)); // height of the fixed element

  @include breakpoint(md) {
    scroll-padding: calc(var(--side-template-desktop-header-height) + var(--space-xxs));
  }
}